

.todo-list-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(58, 58, 58);
  }
  
  /* Style for the heading */
  .todo-list-header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  /* Style for the form */
  .todo-list-form {
    display: flex;
    color: white
  }
  
  /* Style for the input */
  .todo-list-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    
  }
  
  /* Style for the submit button */
  .todo-list-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style for the task list */
  .todo-list {
    list-style:square;
    padding: 0;
    color: white;
    margin-bottom: 10px;
    
  }
  
  /* Style for each task item */
  .todo-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(19, 212, 32);
  }
  
  /* Style for the delete button */
  .todo-list-delete {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  